/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* EXTRAS XAZ
-------------------------------------------------- */

/* Nav */

.navbar-brand {
  margin: 0 1em 0 0;
}

.navbar-brand img {

  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 1em;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 8rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 100%;
  height: 62rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading span{
  font-size: 1.5rem;
  color: #fcf80e !important;
  background: #dc3545;
  padding: 0.1rem 0.8rem;
  letter-spacing: 0.01rem;
  font-weight: 100;

}

.bullets {
  font-weight: 200;
  line-height: 2;
  letter-spacing: .01rem;
  font-size: 1.1rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 35px;
    color: #dc3545 !important;
    margin-bottom: 30px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 0em;
  }
}

/* EXTRAS
-------------------------------------------------- */

hr {
  border-top: 1px solid rgb(220, 53, 69, 0.4)!important;
}
